.categories {
    display: flex;
    align-items: center;
    align-self: center;
    height: 5vh;
    margin-left: 2rem;
}
.divider {
    background-color: #F0F0F7;
    height: 0.3vh;
}
.category {
    margin:0  5rem 0 0;
    text-decoration: none;
    color: #848484;
    font-weight: bold;
}
.selectionBar {
    height: 0.3rem;
    margin-top: 0.3rem;
    border-radius: 1em;
    background-color: #004391;
}

@media screen and (max-width: 750px) {
    .category {
        font-size: 1em;
        margin: 0rem 1rem 1rem 1rem;
    }
    .categories {
        margin: 0.2rem 1rem;  
        overflow-x: scroll;
        max-width: 100%;
        background: transparent;
    }
}