.categories {
    display: flex;
    align-items: center;
    height: 5vh;
    margin-left: 2rem;
}
.divider {
    background-color: #F0F0F7;
    height: 3vh;
}
.category {
    margin:0  5rem 0 0;
    text-decoration: none;
    color: #848484;
    font-weight: bold;
}
.selectionBar {
    height: 0.3rem;
    border-radius: 1em;
    background-color: #004391;
}