.navbar-container {
    height: 10vh;
    background-color: #00327C;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    font-size: 32px;
}
.left-nav-items{
    display: flex;
    align-items: center;
}
.future {
    color: #F1011E;
}
.basket {
    color: #00BEFF;  
}
.search-input {
    height: 5vh;
    width: 40em;
    outline: none;
    border-radius: 2rem;
    font-weight: bold;
    padding-inline-end: 1rem;
    padding-inline-start:3rem;
}
.search-bar {
    position: relative;
}
.search-icon{
    position: absolute;
    left:1rem;
    top:0.5rem
}
.right-nav-items{
    display: flex;
    align-items: center;
    margin: 2rem;
}
.globe-icon{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.user-icon{
    padding: 1rem
}
.language-select {
    margin-left: 0.5rem;
}